<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel='stylesheet' href='/stylesheets/devops.css' />
 <link rel='stylesheet' href='/stylesheets/tabs.css' />
 <link rel='stylesheet' href='/stylesheets/table.css' />
 <link rel='stylesheet' href='/stylesheets/form.css' />
 


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="scripts/devops.js"></script>
 

 <script type="text/javascript">

   var repositoryURL;
   function showrepos(){
    var token = <%- JSON.stringify(token) %>;
    var url='https://github.moon.com/api/v3/user/repos?access_token='+token;

    $.ajax({url: url, success: function(result){
      var repos = result;
      var repositories = "";
      for(i = 0; i < repos.length; i++) {
        var repositoryHref ="<div style=margin-left:50px;><a href=# onclick=showRepoInfo('"+repos[i].ssh_url+"');>"+repos[i].name+"</a></div>";          
        repositories += repositoryHref; 
      }   
        // alert(repositories);
        document.getElementById("gitrepos").style.display = 'block';        
        document.getElementById("gitLogin").style.display = 'none';          
        document.getElementById("gitrepos").innerHTML = repositories;
      }});
  }

  function showRepoInfo(repoURL){        
    document.getElementById("githubRepoUrl").value = repoURL;  
    document.getElementById("githubBranch").value = "master";
    document.getElementById("username").value = <%- JSON.stringify(email) %>;
    document.getElementById("gitLogin").style.display = 'none';         
    
  }

  function callGitAuthentication(){     
    // document.getElementById("gitLogin").style.display = 'none';
    // document.getElementById("logwait").style.display = 'block';
    window.location.href= window.location.origin+'/githubHandshake';
  }


  function cancel(){
    var cancelUrl = "/automate/"+<%- JSON.stringify(from) %>;
    window.location.href = cancelUrl;
  }


  $(document).ready(function() {

  });

</script>
</head>
<body onload="showrepos()">

  <div id="header" align="center">
   <h4>Whitewater <b>ToolStitch</b> - DevOps Pipeline as a Service</h4>
   <h4>An end to end devOps solution</h4>
 </div>
 

 <h5><a style="float:right" href="/signout">Sign Out</a></h5>
 
 <ul class="tabs  primary-nav">
  <li class="tabs__item">
    <a href="/devops" class="tabs__link">Hosting Solutions</a>
  </li>
  <li class="tabs__item">
    <a href="/automate" class="tabs__link">Automated Devops Pipeline Setup</a>
  </li>
</ul>

<div id="gitrepos" class="sideBar boxLeft">
  <div id="gitLogin" style="display:block">      
    <a href="#" class="btn" onclick=callGitAuthentication()>Login with Github</a>
  </div>      
</div>

<form class="mainPage" action="/automate/configure/codecheckoutgithubsubmit" id="form1" method="post">  
<h4>Select a Github repository on leftbar.</h4>
  <div>
    <label for="githubRepoUrl">Github Repo URL:</label>
    <input type="text" name="githubRepoUrl" id="githubRepoUrl" value=<%- JSON.stringify(githubRepoUrl) %> required data-required-message="Github Repo URL is required.">
  </div>
  <div>
    <label for="githubBranch">Github Branch:</label>
    <input type="text" name="githubBranch" id="githubBranch" value=<%- JSON.stringify(githubBranch) %> required data-required-message="Github Branch is required.">
  </div>
  <div>
    <label for="username">Github User:</label>
    <input type="text" name="username" id="username" value=<%- JSON.stringify(username) %> required data-required-message="Github User is required.">
  </div>
  <div>
   <input type="hidden" name="from" id="from" value=<%- JSON.stringify(from) %>>
   <button onclick="cancel()">Cancel</button>
   <button type="submit" form="form1">Save Configuration</button>
 </div>
 
</form>

<div id="footer">
  <div id="footerContent">
   <div id="slack">Welcome to Whitewater toolstitch - pipeline as a service</div>
 </div>
</div>


</body>
</html>