<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel='stylesheet' href='/stylesheets/devops.css' />
 <link rel='stylesheet' href='/stylesheets/tabs.css' />
 <link rel='stylesheet' href='/stylesheets/table.css' />
 <link rel='stylesheet' href='/stylesheets/form.css' />


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="scripts/devops.js"></script>
 

 <script type="text/javascript">

  function cancel(){
    var cancelUrl = "/automate/"+<%- JSON.stringify(from) %>;
    window.location.href = cancelUrl;
  }

  function setCheckBoxValueToTrueOrFalse(cb) { 
    if(cb.checked) { 
      cb.value = "true";
      if(document.getElementById("target").value.trim().length < 1){
        document.getElementById("target").value = " ";
      }
      if(document.getElementById("username").value.trim().length < 1){
        document.getElementById("username").value = " ";
      }
      if(document.getElementById("password").value.trim().length < 1){
        document.getElementById("password").value = " ";
      }
      if(document.getElementById("organization").value.trim().length < 1){
        document.getElementById("organization").value = " ";
      }      
      if(document.getElementById("cloudSpace").value.trim().length < 1){
        document.getElementById("cloudSpace").value = " ";
      }
      if(document.getElementById("manifestFile").value.trim().length < 1){
        document.getElementById("manifestFile").value = " ";
      }
    }else{
      cb.value = "false";
      if(document.getElementById("target").value.trim().length === 0){
        document.getElementById("target").value = "";
      }
      if(document.getElementById("username").value.trim().length === 0){
        document.getElementById("username").value = "";
      }
      if(document.getElementById("password").value.trim().length === 0){
        document.getElementById("password").value = "";
      }
      if(document.getElementById("organization").value.trim().length === 0){
        document.getElementById("organization").value = "";
      }      
      if(document.getElementById("cloudSpace").value.trim().length === 0){
        document.getElementById("cloudSpace").value = "";
      }
      if(document.getElementById("manifestFile").value.trim().length === 0){
        document.getElementById("manifestFile").value = "";
      }
    }
  }

  function init(){    
    var ignore = <%- JSON.stringify(ignoreKubernetes) %>;    
    if(ignore){
      document.getElementById("ignoreKubernetes").checked=true;
    }else{
      document.getElementById("ignoreKubernetes").checked=false;
    }
  }

  $(document).ready(function() {

  });

</script>
</head>
<body onload=init()>


 <div id="header" align="center">
   <h4>Whitewater <b>ToolStitch</b> - DevOps Pipeline as a Service</h4>
   <h4>An end to end devOps solution</h4>
 </div>
 
 <h5><a style="float:right" href="/signout">Sign Out</a></h5>
 
 <ul class="tabs  primary-nav">
  <li class="tabs__item">
    <a href="/devops" class="tabs__link">Hosting Solutions</a>
  </li>
  <li class="tabs__item">
    <a href="/automate" class="tabs__link">Automated Devops Pipeline Setup</a>
  </li>
</ul>


<form action="/automate/configure/deploykubernetessubmit" id="form1" method="post">  
  <div>
    <input  align="left" style="width:1%" onchange="setCheckBoxValueToTrueOrFalse(this)" id="ignoreKubernetes" name="ignoreKubernetes" type="checkbox"></input>
    <b>Disable Kubernetes in Pipeline</b>
  </div>
  <div>
    <label for="Docker registry URL">Docker registry URL:</label>
    <input type="text" name="dockerregistryURL" id="dockerregistryURL" value=<%- JSON.stringify(dockerregistryURL) %> required data-required-message="Docker registry URL is required.">
    <div class="info">
      Ant build file location Eg. build.xml,rtc-devops/packages.xml
    </div>
  </div>
  <div>
    <label for="Repository Name">Repository Name:</label>
    <input type="text" name="repositoryname" id="repositoryname" value=<%- JSON.stringify(repositoryname) %> required data-required-message="Repository Name is required.">
    <div class="info">
      This is the name of the repo to build - it is what you would call via "docker push" or "docker pull" - do not include any tag information. Example: "foobar/awesomeapp".
    </div>
  </div>
  <div>
    <label for="Tag">Tag:</label>
    <input type="text" name="tag" id="tag" value=<%- JSON.stringify(tag) %> required data-required-message="Tag is required.">
    <div class="info">
      Image tag.
    </div>
  </div>
  <div>
    <label for="Container Port">Container Port:</label>
    <input type="containerport" name="containerport" id="containerport" value=<%- JSON.stringify(containerport) %> required data-required-message="Container Port is required.">
    <div class="info">
      Specify container port eg. 5000
    </div>
  </div>
  <div>
    <label for="Host Port">Host Port:</label>
    <input type="hostport" name="hostport" id="hostport" value=<%- JSON.stringify(hostport) %> required data-required-message="Host Port is required.">
    <div class="info">
      Specify host port eg. 5000
    </div>
  </div>
  <div>
    <input type="hidden" name="from" id="from" value=<%- JSON.stringify(from) %>>
    <input type="button" class="cancel" onclick="cancel()" value="Cancel" />
    <button type="submit" form="form1">Save Configuration</button>
  </div>
</form>

<div id="footer">
  <div id="footerContent">
   <div id="slack">Welcome to Whitewater toolstitch - pipeline as a service</div>
 </div>
</div>


</body>
</html>